<div class="hidden">
	<img src="http://www.placelocal.com/retarget_pixel.php?cid=442960" width="1" height="1" />
</div>
<script src="resources/js/production.min.js">
        </script>
<script>
$(document).ready(function() {
  $('.how-it-works').magnificPopup({type:'iframe'});
  $('.how-it-works2').magnificPopup({type:'iframe'});
});
</script>
    </body>
</html>