<div id="[[+pagetitle:lcase:replace=` ==-`]]" class="tab-pane fade-in ">
                                <h2>[[+pagetitle]]</h2>
                                [[+home-content]]
                            </div>