<li>
    <div class="slideContain"  style="background-image:url('[[+promotion-image]]')">
        <div class="row-fluid wrap" >
            <div class="span9">
                [[+promotion-text]]
            </div>
        </div>
    </div>
</li>

