<div class="tophat">
    <div class="row-fluid wrap">
        <ul class="social hidden-phone">
            [[$social-links]]
        </ul>
        <ul class="tophatNav">
            <li class="hidden-phone"><a href="" ><i class="ico-clock"></i>&nbsp;&nbsp;Mon - Fri: 8:00 - 4:30</a></li>
            <li><a href=""><i  class="ico-phone"></i>&nbsp;&nbsp;(515)462-1313</a></li>
            <li class="hidden-phone"><a href="mailto:gtfr@griptite.com" ><i class="ico-envelope"></i>&nbsp;&nbsp;gtfr@griptite.com</a></li>
            <li><a href="http://griptite.iowahomestyleloans.com" target="_blank">Financing</a></li>
            <li class="quote"><a href="#quote" data-toggle="modal" class="quote ico-">Free Quote</a></li>
        </ul>
    </div>
</div>