<li class="row-fluid">
	<div class="span3"><img src="[[+team-photo]]" alt=""></div>
	<div class="span9">
		<h2>[[+team-name]]</h2>
		<p><em><strong>[[+team-title]]</strong></em><br>
		[[+team-content]]
		</p>
		
	</div>
</li>