[[$doc_head]]
<body>
	[[$navigation]]
	[[$header]]

	<div class="container">
		<div class="starter-template">
			<h1>[[*pagetitle]]</h1>
			<div class = "lead">
				[[*content]]
			</div>
		</div>
	</div><!-- /.container -->

	[[$footer]]
	[[$doc_footer]]