[[$doc_head]]
    <body>
        [[$header]]
        [[$intro-interior]]
        [[$quote-bar]]
        <section class="content">
            <div class="row-fluid wrap">
                <div class="span4">
                    <h2>[[!GetPageTitle? &id=`[[*parent]]`]]</h2>
                        [[Wayfinder? 
                        &level=`0`
                        &startId=`[[*parent]]`
                        &innerTpl=`nav_inner`
                        &outerTpl=`nav-outer-list`
                        &level=`1`
                        &sortBy=`menuindex`
                        ]]
                        
                        <div class="hidden-phone">
                            [[*animation-video:notempty=`<hr>
                            <h2>See How it Works</h2>
                            <p><strong>[[*animation-video-title]]</strong></p>
                            <a class="how-it-works" href="http://www.youtube.com/watch?v=[[*animation-video]]"><img src="http://img.youtube.com/vi/[[*animation-video]]/0.jpg" alt=""></a>`]]
                            [[*animation-video2:notempty=`<hr>
                            <p><strong>[[*animation-video-title2]]</strong></p>
                            <a class="how-it-works2" href="http://www.youtube.com/watch?v=[[*animation-video2]]"><img src="http://img.youtube.com/vi/[[*animation-video2]]/0.jpg" alt=""></a>`]]
                        </div>
                        
                </div>
                <div class="span8">
                    <ul class="team">
                          [[!getImageList?
                              &tvname=`team`
                              &tpl=`team`
                            ]]
                    </ul>
                    <div class="visible-phone">
                        [[*animation-video:notempty=`<hr>
                        <h2>See How it Works</h2>
                        <p><strong>[[*animation-video-title]]</strong></p>
                        <a class="how-it-works" href="http://www.youtube.com/watch?v=[[*animation-video]]"><img src="http://img.youtube.com/vi/[[*animation-video]]/0.jpg" alt=""></a>`]]
                        [[*animation-video2:notempty=`<hr>
                        <p><strong>[[*animation-video-title2]]</strong></p>
                        <a class="how-it-works2" href="http://www.youtube.com/watch?v=[[*animation-video2]]"><img src="http://img.youtube.com/vi/[[*animation-video2]]/0.jpg" alt=""></a>`]]
                    </div>
                </div>
               
            </div>
        </section>
        </section>
        [[$footer]]
        
        [[$doc_footer]]
