[[$doc_head]]
    <body class="testimonial">
        [[$header]]
        [[$intro-interior]]
        [[$quote-bar]]
        <section class="content">
            <div class="row-fluid">
                    <ul>
                        [[getResources? &parents=`4` &limit=`0` &tpl=`testimonial-interior` &tplOdd=`testimonial-odd` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &includeContent=`1` &sortby=`RAND()`]]
                    </ul>
               
            </div>
        </section>
        [[$footer]]
        
        [[$doc_footer]]
