body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  color: $primary;
}

h2 {
  font-size: 24px;
  line-height: 1.4;
}

.arrow {
  &:hover {
    &:after {
      margin-left: 12px;
    }
  }
  &:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: 8px;
  @include transition(.3s margin-left);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea3c";
  }
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  padding:1em 2em;
  border:solid 1px $secondary;
  border-radius:4px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  color:$secondary;
  &:hover {
    @include opacity(.6)
  }
}